.main-footer {
    padding: 50px 0 20px 0;
    background-color: var(--very-dark-blue);
    font-family: var(--font-vietnam);
}

.form-email label input {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}

.form-email label input::placeholder {
    font-size: 12px;
}

.form-email label button {
    padding: 10.5px 20px;
    border-radius: 50px;
    background-color: var(--bright-red);
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
    margin-left: 5px;
}

.form-email span {
    margin-top: 20px;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

.main-footer > span {
    margin-top: 50px;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

@media screen and (min-width: 1024px) {
    .main-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 40px 40px 40px;
        position: relative;
    }

    .form-email {
        order: 1;
    }

    .form-email {
        display: flex;
        flex-direction: column;
    }

    .main-footer > span {
        position: absolute;
        right: 40px;
        bottom: 80px;
    }

}

@media screen and (min-width: 1366px) {
    .main-footer {
        padding: 50px 150px;
    }

    .form-email {
        position: relative;
        bottom: 15px;
    }

    .form-email label input {
        padding: 10px 5px;
        padding-left: 15px;
    }

    .main-footer > span {
        right: 150px;
    }

    
}